@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.todo-btn {
  padding: 16px;
  background-color: #6579e8;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.todo-btn:hover {
  background-color: #3e54d3;
}

.todo-input {
  padding: 16px;
  margin-top: 20px;
  width: 400px;
  outline: none;
}

.todo-list {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  text-align: left;
}


.todoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  background: #0D47A1;

}

.todoWrapper h1 {
  color: white;
  font-size: 58px;
}


/* Container styling */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: #3F51B5;

}

.todo-Container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}



/* Icon styling */
.todo-icons {
  display: flex;
  gap: 10px;
}

/* FontAwesome icons styling */
.todo-icons svg {
  cursor: pointer;
  color: #DDE9F5;
  transition: color 0.3s;
}

.todo-icons svg:hover {
  color: #DDE9F5;
}


.complete {
  text-decoration: line-through; 
  color: #888; 
}


.search-input {
  padding: 10px;
  margin-top: 20px;
  width: 280px;
  outline: none;

}

.search-btn {
  padding: 10px;
  background-color: #6579e8;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* filter section */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter-btn {
  margin: 10px;
  padding: 10px;
  background-color: #6579e8;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.filter-btn:hover {
  background-color: #3e54d3;
}